# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/CSharpConditionalStatements/CSharpConditionalStatements/bin/Debug
/CSharpConditionalStatements/CSharpConditionalStatements/obj/Debug
/RSS.EConsultantMangementSystem/.vs/RSS.EConsultantMangementSystem/v14
/RSS.EConsultantMangementSystem/RSS.EconsulatantManagementSystem.WEBAPI/bin
/RSS.EConsultantMangementSystem/RSS.EconsulatantManagementSystem.WEBAPI/obj/Debug
/RSS.EConsultantMangementSystem/RSS.EconsulatantManagementSystem.WEBAPI.Tests/obj/Debug
/RSS.EConsultantMangementSystem/RSS.EConsultantMangementSystem/bin
/RSS.EConsultantMangementSystem/RSS.EConsultantMangementSystem/obj/Debug
/RSS.EConsultantMangementSystem/RSS.EConsultantMangementSystem.Tests/bin/Debug
/RSS.EConsultantMangementSystem/RSS.EConsultantMangementSystem.Tests/obj/Debug
/RSS.EConsultantMangementSystem/RSS.EconsultatntManagementWebAPI/bin
/RSS.EConsultantMangementSystem/RSS.EconsultatntManagementWebAPI/obj/Debug
/RSS.EConsultantMangementSystem/RSS.EconsultatntManagementWebAPI.Tests/bin/Debug
/RSS.EConsultantMangementSystem/RSS.EconsultatntManagementWebAPI.Tests/obj/Debug
/angularmvctutorial/
/LowStockDashboard/
