<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="xyz" value="Data Source=VFDEVON;User ID=RMO_POOL;Password=Fw32A$7D;Pooling=true;Max Pool Size=100;Min Pool Size=5;Connection Lifetime=1200;Connection Timeout=15;Incr Pool Size=5; Decr Pool Size=1"/>
  </appSettings>
</configuration>